<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header and Reviews Section -->
    <div id="banner1">
    <div id="signincircle"></div>
            <a href= "signin.html" id = "signin">Sign In</a> 
   
    <h2 id="budlogo">budgeting.</h2>
    <a href="budgetplan.html" id = "myplan">My plan</a>

    </div>
    <h1 id = "header1">Start budgeting. 
        Today</h1>
    <p id="desc1">Manage all your expenses, make future projections and save money. All in one platform. Sign up today and start budgeting like a pro!</p>
    <div class="button1"></div>
    <img src="../images/hero-image-01 1 (1).png" alt="image of report and magnifying glass." id="image1">
    <p id="btntext">Start my plan</p>

    <h1 id="reviews">Reviews</h1>
    <h3 id="reviewblurb">What people say about our services</h3>
    <div id="reviewrec1"> </div>

        <h2 id="rating1">4.9</h2>
        <h3 id="ratingTitle1">Powerful features and easy to use</h3>
        <h3 id="ratingDescription1">The app offers powerful features including ability to work with multiple budgets, which I really like. I will definitely use it and recommend it to others.</h3>
    <h3 id="ratingAuthor2">THOMAS POIREK</h3>
   

        <div id="reviewrec2"></div>
        <h2 id="rating2">5.0</h2>
        <h3 id="ratingTitle2">Powerful features and easy to use</h3>
        <h3 id="ratingDescription2">The app offers powerful features including ability to work with multiple budgets, which I really like. I will definitely use it and recommend it to others.</h3>
    <h3 id="ratingAuthor2">THOMAS POIREK</h3>

    <div id="reviewrec3"></div>
    <h2 id="rating3">4.8</h2>
    <h3 id="ratingTitle3">Powerful features and easy to use</h3>
    <h3 id="ratingDescription3">The app offers powerful features including ability to work with multiple budgets, which I really like. I will definitely use it and recommend it to others.</h3>
<h3 id="ratingAuthor3">THOMAS POIREK</h3>

    
    <!-- Trusted By Section-->
    <h3 id="trusts">Powered By</h3>
        <img src="../images/technica-logo.svg" alt="image of technica-logo" id="technica_logo">
        <img src="../images/T._Rowe_Price_wordmark.svg" alt="image of t. Rowe_Price" id="rowe_logo">
        <img src="../images/Capital_One_logo.svg" alt="image of capital one logo" id="capitalone_logo">
        <img src="../images/Major_League_Hacking_logo.svg" alt="image of major league hacking logo" id="mlh_logo">
    
<!--Newsletter Section-->
        <h3 id="newsletterHeader">Sign up for our newsletter</h3>
        <h4 id="newsletterDesc">Get the latest tips and updates on saving</h4>
        <input id="emailBox" placeholder="hello@example.com">
    </input>
        <img src="../images/sign-up-01 1.png" alt="image of a calculator" id="newsCalc">
        <div id="signup1">         </div>
            <a href= "" id = "submit1">Submit</a> 



</body>
</html>