<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header and Reviews Section -->
    <div id="banner1"></div>
    <div id="signincircle"></div>
    <h2 id="budlogo">budgeting.</h2>
    <h4 id = "myplan">My plan</h4>
    <h4 id = "signin">Sign In</h4>
    <h1 id = "header1">Start budgeting. 
        Today</h1>
    <p id="desc1">Manage all your expenses, make future projections and save money. All in one platform. Sign up today and start budgeting like a pro!</p>
    <div class="button1"></div>
    <img src="../images/hero-image-01 1 (1).png" alt="image of report and magnifying glass." id="image1">
    <p id="btntext">Start my plan</p>

    <h1 id="reviews">Reviews</h1>
    <h3 id="reviewblurb">What people say about our services</h3>
        <img src="../images/quoteVector.png" alt="image of a beige singular quotation mark" id="quotationMark1">
        <div id="reviewrec1"></div>
        <h2 id="rating1">4.9</h2>
        <h3 id="ratingTitle1">Powerful features and easy to use</h3>
        <h3 id="ratingDescription1">The app offers powerful features including ability to work with multiple budgets, which I really like. I will definitely use it and recommend it to others.</h3>
    <h3 id="ratingAuthor2">THOMAS POIREK</h3>
        <img src="../images/quoteVector.png" alt="image of a beige singular quotation mark" id="quotationMark">
        <div id="reviewrec2"></div>
        <h2 id="rating2">4.9</h2>
        <h3 id="ratingTitle2">Powerful features and easy to use</h3>
        <h3 id="ratingDescription2">The app offers powerful features including ability to work with multiple budgets, which I really like. I will definitely use it and recommend it to others.</h3>
    <h3 id="ratingAuthor2">THOMAS POIREK</h3>
    
    <!-- Trusted By Section-->
    <h1 id="trusts">Trusted By</h1>
</body>
</html>