<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>budgeting | Home</title>
    <link rel="icon" type="image/x-icon" href="../images/mini.svg">
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header and Reviews Section -->
    <div id="banner1">
    <div id="signincircle"></div>
            <a href= "signin.html" id = "signin">Sign In</a> 
   
    <a id="budlogo" href = 'homepage.html'>budgeting.</a>
    <a href="budgetplan.html" id = "myplan">My plan</a>

    </div>
    <h1 id = "header1">Start budgeting. 
        Today</h1>
    <p id="desc1">Manage all your expenses, make future projections and save money. All in one platform. Sign up today and start budgeting like a pro!</p>
    <div class="button1"></div>
    <a href="budgetplan.html" id="btntext">Start my plan</a>
    <img src="../images/hero-image-01 1 (1).png" alt="image of report and magnifying glass." id="image1">


    <h1 id="reviews">Reviews</h1>
    <h3 id="reviewblurb">What people say about our services</h3>
    <div id="reviewrec1"> </div>

        <h2 id="rating1">4.9 &#9733&#9733&#9733&#9733&#9734</h2>
        <h3 id="ratingTitle1">Free, fast, and easy!
        </h3>
        <h3 id="ratingDescription1">Before finding Budgeting, I was using my journal everyday and there was no real automation. Budgeting now offers me the freedom from paper! I will definitely use it and recommend it to others.</h3>
    <h3 id="ratingAuthor1">JOHN DAVIS</h3>
   

        <div id="reviewrec2"></div>
        <h2 id="rating2">5.0 &#9733&#9733&#9733&#9733&#9733</h2>
        <h3 id="ratingTitle2">My children love the app!</h3>
        <h3 id="ratingDescription2">As a single mother and entrepreneur, I know the great value of money and have been trying to teach my children the importance of budgeting. Budgeting offers me just that and gives my children room for growth. Highly recommend!</h3>
    <h3 id="ratingAuthor2">EMILY NGUYEN</h3>

    <div id="reviewrec3"></div>
    <h2 id="rating3">4.8  &#9733&#9733&#9733&#9733&#9734</h2>
    <h3 id="ratingTitle3">Love the app but-few bugs.</h3>
    <h3 id="ratingDescription3">I've been using this app for 2 months now. There are a few bugs I noticed, sometimes I can't login or my personal budgeting preferences would randomly reset. Other than that, I've been very happy with Budgeting!</h3>
<h3 id="ratingAuthor3">JIA HUAN</h3>

    
    <!-- Trusted By Section-->
    <h3 id="trusts">Powered By</h3>
    <div id="corps">
        <a href="https://gotechnica.org/" target="_blank"><img src="../images/technica-logo.svg" alt="image of technica-logo" id="technica_logo"></a>
        <a href="https://www.troweprice.com/corporate/us/en/home.html" target="_blank"><img src="../images/T._Rowe_Price_wordmark.svg" alt="image of t. Rowe_Price" id="rowe_logo"></a>
        
        <a href="https://www.capitalone.com/" target="_blank"><img src="../images/Capital_One_logo.svg" alt="image of capital one logo" id="capitalone_logo"></a>
        
        <a href="https://mlh.io/" target="_blank"><img src="../images/Major_League_Hacking_logo.svg" alt="image of major league hacking logo" id="mlh_logo"></a>
        
    </div>
        
    
<!--Newsletter Section-->
        <h3 id="newsletterHeader">Sign up for our newsletter</h3>
        <h4 id="newsletterDesc">Get the latest tips and updates on saving</h4>
        <input id="emailBox" placeholder="hello@example.com">
    </input>
        <img src="../images/sign-up-01 1.png" alt="image of a calculator" id="newsCalc">
        <div id="signup1">         </div>
            <a href= "" id = "submit1">Submit</a> 

<footer>
        <h2 id="budlogo-footer">budgeting.</h2>
        <a href="budgetplan.html" id = "myplan-footer">My plan</a><br>
        <a href="signin.html" id = "signin-footer">Sign in</a>
        <div class = 'footer-icon'>
            <a href = '#' class = 'icon'><img src = '../images/fb.svg'></a>
            <a href = '#' class = 'icon'><img src = '../images/ins.svg'></a>
            <a href = '#' class = 'icon'><img src = '../images/pin.svg'></a>
        </div>
    </footer>
</body>

<script src = 'main.js'></script>
</html>